{% extends 'base.html.twig' %}

{% block title %}QUIZ{% endblock %}

{% block body %}

<header class="commun_container">
        <div class="logo" >
            <a href="/" ><img id="QUIZZ_ETAPE_logo_nav" src="/images/LOGO_HOME.svg" alt="Ecotidien logo"></a>
        </div>

</header>

<main class="commun_container">

        <section class="QUIZZ_Etape_titre">

            <div>
                <h3 class="h3_bold">&Eacute;tape 1</h3>
            </div>

            <h1>Définissons<br>ensemble <strong class="h1_bold">votre profil</strong><br></h1>
                
            
            <div>
                <button class="btn_large"><a href="/quiz_start">Etape suivante</a></button>
            </div>
        </section>

</main>

{% endblock %}
