/******************************
 RESPONSIVE QUERY
 ****************************/

                 /**********************/
                  /*** MODE TABLETTE ***/
                /**********************/


@media  screen and (max-width: 1023px){
    
        #home_nonconnect {
            overflow-x: hidden;
        }


        #home_nonconnect header {
            height:140vh;
            background-position:70%;
        
        }

        footer ul li {
            font-size: 1.2rem;
        }

        #about {
            height: 130vh;
        }

        #quiz_wrap #quiz {
            background-position: bottom;
            height: 150%;
        }

       
        #user_home .btn_box {
            width: calc(100% - 3vw);
            text-align: center;
            margin-top: -2.5rem;
            margin:0 auto;
        }
        #user_home .btn_valid {
   
            color: var(--color-bg-comment);
            padding: 0.8rem 1.5rem;
          
           
            margin-bottom: 50px;
            
           
            
        }
   

}


                  /**********************/
                  /*** MODE SMARTPHONE ***/
                /**********************/

@media  screen and (max-width: 767px){
    


    #home_nonconnect header nav {
      padding:0;
    }

    #home_nonconnect header  ul {
        justify-content: none;
      }

    #home_nonconnect header .home-logo {
        width:20%;
    }

    #home_nonconnect header nav li{
        /* font-size: 1rem; */
        padding:2px;
    }

    #home_nonconnect header nav li:first-child {
        margin-right: -7rem;
    }
    #home_nonconnect header .nav-link {
        margin-left:-5rem;
    }


    #home_nonconnect header {
        height:120vh;
        background-position:85%;
      
    }

    
    #home_nonconnect header .bloc-membre {
        padding-left: 1.5rem;
        color: white;
    }
    #home_nonconnect header .bloc-membre > p {
        padding:1rem 0;
    }
    #home_nonconnect header .bloc-membre img {
        width:20px;
    
    }
    #home_nonconnect header .bloc-profil img:nth-child(2),
    #home_nonconnect header .bloc-profil img:nth-child(3)
    {
        margin-left: -45px;
    }
    .btn_large {
        margin-bottom: 25rem;
        
    }

    .p_text:not(:nth-child(2)) {
        color: white;
    }

    #about {
        height: 150vh;
    }
    #about main {
        grid-template-columns: 1fr;
    }

    #about img {
        width:25%;
    }

    #about nav .nav-link {
        font-size: 1.3rem;
        margin-left:-3rem;
    }
    

    #login .circle{ 
      top:100%;
      transform: translateY(-85%);
    }

    #QUIZZ_ETAPE_logo_nav {
        width:50%;
    }

    #quiz_wrap #quiz {
        background-position: center;
    }

         /* USER_HOME */
    /* #user_home .header-content article:nth-child(4) {
        flex-direction: column;
        margin-top:5rem;
    } */

    #user_home .card_challenge {
        flex-direction: column;
    }

    #user_home .main-container .card_wrap {
        min-width: 90%;
        
    }

}